flex-box{
    display: flex;
    width:1000px;
    margin: 50%;
}

.left{
    left: 45%;
}

.images{
display: flex;
justify-content: space-between;
width: 10%;
margin-top: 15px;
}
.small-image img{
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 50px;
    background-color: black;
    border: solid;
    color: red;
}